<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/3cf69659-5386-472c-9a53-b5193e55ba72/resourcegroups/webapplication3-app-202401311558ResourceGroup/providers/Microsoft.ContainerRegistry/registries/WebApplication320240131160302</ContainerResourceId>
    <ContainerResourceName>WebApplication320240131160302</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapplication320240131160302.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>webapplication3</ContainerName>
    <EnvironmentName>WebApplication3-env-20240131155855</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://webapplication3-app-202401311558.grayflower-e75438d5.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3cf69659-5386-472c-9a53-b5193e55ba72/resourceGroups/webapplication3-app-202401311558ResourceGroup/providers/Microsoft.App/containerApps/webapplication3-app-202401311558</ResourceId>
    <ResourceGroup>webapplication3-app-202401311558ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>