@page
@model WebApplication3.Pages.Errors._408Model
@{

    ViewData["title"] = "Request Timeout";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p>Please navigate back to <a href="https://localhost:44358/Login">Login</a></p>
</div>
